*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: #343f4f;
}

p{
    font-style: italic;
    padding-left: 20px;
    padding-bottom: 25px;
    letter-spacing: px;
    line-height: 50px;
    font-size: medium;
}

p.nt{
    color: white;
    font-style: normal;
    line-height: 5px;
}

p.nt:hover{
    color: pink;
}

a{
    color: white;
}

a:hover{
    color: pink;
}

b{
    color: #343f4f;
    transition: color .3s ease;
}

b:hover{
    color: rgb(7, 88, 252);
}

button{
    width: 160px;
    height: 40px;
    background: blueviolet;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 100px;
    cursor: pointer;
    transition: .4s ease;
}

.btn .back a{
    text-decoration: none;
    transition: .3s ease;
}

.back:hover{
    background-color: white;
    box-shadow: 0 0 20px  cyan;
}

